<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('collaborators')"></head>

<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>

<div class="frame row">
    <div class="col s10 l11 push-l1">
        <h4 th:text="${collaborator.name}"></h4>

        <div class="actions">
            <a th:href="@{|/collaborators/${collaborator.id}/edit|}">Edit</a>
            <form th:action="@{|/collaborators/${collaborator.id}/delete|}" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>