<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('new collaborator')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <form th:action="@{${action}}" method="post" th:object="${collaborator}">
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <div class="col s12">
                <h2 th:text="${heading}">New Collaborator</h2>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 l8"  th:classappend="${#fields.hasErrors('name')}? 'error': '' ">
                <input type="text" th:field="*{name}" placeholder="Collaborator Name"/>
                <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8" >
                <button th:text="${submit}" type="submit" class="button">Add</button>
                <a th:href="@{/collaborator}" class="button">Cancel</a>
            </div>
        </div>
    </form>
    <div class="row delete" th:id="${collaborator.id != null}">
        <div class="col s12 l8">
            <form th:action="@{|/collaborators/${collaborator.id}/delete|}" method="post">
                <button type="submit" class="button">Delete</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>