<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('collaborators')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>

<div class="container">
    <div class="row">
        <div class ="col s9">
            <h2>Collaborators</h2>
        </div>
    </div>

    <div class="col s3">
        <a class="right add" href="/collaborators/add">+</a>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div th:each="role : ${collaborators}" class="col 12 l4">
            <div style="background-color:#59b3b3">
                <div>
                    <a th:href="@{|/collaborators/${collaborator.id}|}" th:text="${collaborator.name}">Collaborator Name</a>
                    <a th:href="@{|/collaborators/${collaborator.id}/edit|}">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>